.match-movie-container {
  border: 3px solid #999;
  box-shadow: 4px 7px 7px #999;
  border-top: 0px;
  /* padding: 0px 10px 10px 10px; */
  color: #eaeaea;
  max-width: 450px;
}
.matches-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px 10px;
  min-width: 90%;
  min-height: 100px;
  margin-top: 20px;
  background-color: #eaeaea;
  gap: 20px;
}
.profile-box {
  height: 80px;
  width: 80px;
  border: 3px solid #eaeaea;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 1px 7px #949494;
  cursor: pointer;
}
.profile-box:hover {
  transform: scale(1.05);
}
.you {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* width: 100%; */
}
.you p {
  justify-content: flex-end;
}
.other {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* width: 100%; */
}
.other p {
  background-color: #f8c433;
}
.message label {
  color: #111;
  text-shadow: 2px 2px 2px #eaeaea;
}
.message-content {
  width: auto;
  height: auto;
  max-width: 250px;
  /* min-height: 40px; */
  background-color: #48b5fb;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  overflow-wrap: break-word;
  padding: 10px;
  word-break: break-word;
  margin: 0 10px;
}
